:root {
    -color-brown: #B95C50;
    -color-orange: #9F2B00;
    -color-coral: #F28A80;
    -color-salmon: #FAA590;
    -color-bege: #FBE5E0;
    -color-cream: #F9F1F0;
}
html {
     background-color:#F9F1F0;
     font-family: poppins;
     color:#B95C50;
}
.items {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding-top: 30px;
      font-size: 20px;   
}
.divider {
    border: 0.1px solid #F28A80;
    width: 100%;
    margin: 20px 0;
    border-top: 0.1px;
}
.delivery {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    justify-items: center;
    
}
.package {
    display: flex;
    justify-content: center;
    align-items: center;
}
.additional-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-size: 20px;
}
.options {
    display: flex;
    flex-direction: column;

}
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    outline: none;
    border-right: 0px;
    border-top: 1px #9F2B00;
    border-left: 1px #9F2B00;
    border-bottom: 1px #9F2B00;
    height: 20px;
    padding: 1%;
}
label, input, button {
    font-size: inherit;
    padding: 0.2em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
button{
    height: 20px;
    padding: 1%;
    border-top: 1px #9F2B00;
    border-bottom: 1px #9F2B00;
    background-color: #F9F1F0;
    border-left: 0px #9F2B00;
    border-right: 0px;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    cursor: pointer;
}
input::placeholder{
    color: coral;
}
button.a{
    color: coral;
    border-right: 0px #9F2B00;
}
button.b{
    color: coral;
    border-right: 1px #9F2B00;
}
input[type="number"] {
    color: coral;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #F9F1F0;
    border-color: #F28A80;
    border-radius: 5%;
}
.number-1 {
    display: flex;
    flex-direction: row;
}

input[type="date"] {
    background-color: #F9F1F0;
    color: coral;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    box-shadow: 0 0 0 0;
    outline: 0;
}

input[type="text"] {
    color: #9F2B00;
}

h3 {
    display: flex;
    justify-content: center;
}
.additional-information {
    display: flex;
    justify-content: center;
}
input[type="radio"] {
    color: coral;
}
button {
    color: coral;
    box-shadow: 0 0 0 0;
    outline: 0;
}
.text {
    background-color:#fcc8ba;
    border: coral;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-radius: 5px;
    height: 45px;
    width: 400px;

}